<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this telecom customer churn dataset: [Available Here](https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv)

## Requirements

- Load the data
- Clean the data if necessary (it will be)
- Create and fit a baseline Keras MLP model to the data.
- Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
 You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters
 
 Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

In [24]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.preprocessing import StandardScaler

from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [4]:
# load data
telecom = pd.read_csv('telecom-customer-churn.csv')

In [5]:
print(telecom.shape)
telecom.head(3)

(7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [32]:
telecom['Churn'] = [1 if c == 'Yes' else 0 for c in telecom['Churn']]

In [34]:
telecom['Churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [33]:
telecom.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [7]:
telecom = telecom.replace('^\s*$', -2, regex=True)
telecom.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
telecom['TotalCharges'] = pd.to_numeric(telecom['TotalCharges'])

In [9]:
telecom = telecom.drop(columns=['customerID'], axis=1)

In [10]:
telecom.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [11]:
telecom.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [35]:
features = telecom.columns[:-1]
target = telecom.columns[-1]
features, target

(Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
        'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
        'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
        'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
        'MonthlyCharges', 'TotalCharges'],
       dtype='object'),
 'Churn')

In [36]:
X = telecom[features]
y = telecom[target]
X.shape, y.shape

((7043, 19), (7043,))

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, shuffle=True)

In [38]:
(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((5282, 19), (5282,)), ((1761, 19), (1761,)))

In [39]:
categories = telecom[features].select_dtypes(include=['object']).columns
categories

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod'],
      dtype='object')

In [40]:
enc = ce.OrdinalEncoder()


X_train_enc = enc.fit_transform(X_train, y_train)
X_test_enc = enc.transform(X_test)

In [41]:
X_train_enc.shape

(5282, 19)

In [42]:
X_train_enc

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
6607,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,25.30,25.30
2598,2,0,1,2,7,2,2,2,1,1,2,1,1,1,1,1,1,75.15,525.00
2345,2,0,1,1,4,2,2,3,2,2,3,2,2,2,1,1,2,20.05,85.50
4093,2,0,1,2,29,2,3,2,1,1,1,1,1,1,1,1,3,76.00,2215.25
693,2,0,1,2,3,2,3,2,1,1,1,1,1,1,1,1,3,75.10,270.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,1,0,2,2,1,2,2,2,3,1,1,1,3,3,1,1,1,95.00,95.00
5191,2,0,2,1,23,2,3,1,3,3,2,3,3,3,3,1,3,91.10,2198.30
5226,1,0,2,1,12,2,2,3,2,2,3,2,2,2,1,1,1,21.15,306.05
5390,1,1,1,2,12,2,3,2,1,1,2,1,3,3,1,1,1,99.45,1200.15
860,1,0,1,2,26,2,2,3,2,2,3,2,2,2,2,2,3,19.80,457.30

In [43]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train_enc)
X_test_scaled = scaler.transform(X_test_enc)
print(X_train_scaled[:10])

[[-0.97309929 -0.43609145 -0.96941854 -1.5265618  -1.28288214 -3.06222308
  -2.06867715 -1.18104467 -0.91809493 -1.03965454 -0.99221753 -0.92219807
  -1.11971672 -1.12523148 -0.83139487 -0.83766059 -1.14934396 -1.31004561
  -0.99706287]
 [ 1.02764436 -0.43609145 -0.96941854  0.65506683 -1.03785653  0.32656014
  -0.51525766  0.17245456 -0.91809493 -1.03965454  0.28886118 -0.92219807
  -1.11971672 -1.12523148 -0.83139487 -0.83766059 -1.14934396  0.34483164
  -0.77679203]
 [ 1.02764436 -0.43609145 -0.96941854 -1.5265618  -1.16036933  0.32656014
  -0.51525766  1.52595379  0.2459419   0.09588212  1.56993989  0.24034374
   0.01070066  0.00513609 -0.83139487 -0.83766059 -0.28945235 -1.48433058
  -0.97052633]
 [ 1.02764436 -0.43609145 -0.96941854  0.65506683 -0.13942926  0.32656014
   1.03816184  0.17245456 -0.91809493 -1.03965454 -0.99221753 -0.92219807
  -1.11971672 -1.12523148 -0.83139487 -0.83766059  0.57043927  0.37304921
  -0.03171942]
 [ 1.02764436 -0.43609145 -0.96941854  0.65506683 -1.20120694  0.32656014
   1.03816184  0.17245456 -0.91809493 -1.03965454 -0.99221753 -0.92219807
  -1.11971672 -1.12523148 -0.83139487 -0.83766059  0.57043927  0.34317178
  -0.88888903]
 [ 1.02764436  2.293097   -0.96941854  0.65506683 -1.28288214 -3.06222308
  -2.06867715 -1.18104467 -0.91809493 -1.03965454 -0.99221753 -0.92219807
  -1.11971672 -1.12523148 -0.83139487 -0.83766059  1.43033088 -1.29344704
  -0.99684246]
 [-0.97309929 -0.43609145 -0.96941854  0.65506683 -1.03785653 -3.06222308
  -2.06867715 -1.18104467  1.40997873 -1.03965454  0.28886118 -0.92219807
  -1.11971672 -1.12523148  0.37107712  1.19380095  1.43033088 -0.97807425
  -0.89148979]
 [ 1.02764436 -0.43609145 -0.96941854  0.65506683  0.79983561  0.32656014
   1.03816184  0.17245456  1.40997873  1.23141878 -0.99221753  1.40288556
   1.14111803  1.13550366  0.37107712 -0.83766059  0.57043927  1.54324827
   1.59979233]
 [-0.97309929 -0.43609145  1.03154619 -1.5265618   1.61658768  0.32656014
   1.03816184 -1.18104467  1.40997873  1.23141878  0.28886118  1.40288556
   1.14111803  1.13550366  1.57354911 -0.83766059  0.57043927  0.90254353
   1.90767339]
 [-0.97309929 -0.43609145  1.03154619  0.65506683  0.92234842  0.32656014
   1.03816184  0.17245456  1.40997873  1.23141878 -0.99221753 -0.92219807
   1.14111803 -1.12523148 -0.83139487 -0.83766059 -1.14934396  1.06188979
   1.30112412]]

In [44]:
X_train_scaled.shape

(5282, 19)

In [55]:
y_test

185     1
2715    0
3825    0
1807    1
132     0
       ..
5845    1
2301    0
5121    0
677     1
6062    0
Name: Churn, Length: 1761, dtype: int64

In [57]:
model = Sequential([
    Dense(6, input_dim=19),
    Dense(2)
])

model.compile(loss='binary_crossentropy', metrics=['accuracy'])

In [58]:
model_object = model.fit(x=X_train_scaled, 
          y=y_train, 
          epochs=10, 
          validation_data=(X_test_scaled, y_test))

Epoch 1/10
166/166 [==============================] - 1s 4ms/step - loss: 4.6622 - accuracy: 0.4250 - val_loss: 4.1593 - val_accuracy: 0.4157
Epoch 2/10
166/166 [==============================] - 0s 3ms/step - loss: 3.7452 - accuracy: 0.4339 - val_loss: 3.2267 - val_accuracy: 0.4287
Epoch 3/10
166/166 [==============================] - 0s 3ms/step - loss: 3.1162 - accuracy: 0.4428 - val_loss: 2.8138 - val_accuracy: 0.4526
Epoch 4/10
166/166 [==============================] - 0s 3ms/step - loss: 2.6643 - accuracy: 0.4587 - val_loss: 2.4912 - val_accuracy: 0.4622
Epoch 5/10
166/166 [==============================] - 0s 3ms/step - loss: 2.4236 - accuracy: 0.4744 - val_loss: 2.3474 - val_accuracy: 0.4747
Epoch 6/10
166/166 [==============================] - 0s 3ms/step - loss: 2.3234 - accuracy: 0.4769 - val_loss: 2.1687 - val_accuracy: 0.4713
Epoch 7/10
166/166 [==============================] - 0s 3ms/step - loss: 2.0939 - accuracy: 0.4786 - val_loss: 1.9158 - val_accuracy: 0.4804
Epoch 8/10
166/166 [==============================] - 0s 3ms/step - loss: 1.8481 - accuracy: 0.4945 - val_loss: 1.6293 - val_accuracy: 0.4861
Epoch 9/10
166/166 [==============================] - 0s 2ms/step - loss: 1.5420 - accuracy: 0.5051 - val_loss: 1.3565 - val_accuracy: 0.5116
Epoch 10/10
166/166 [==============================] - 0s 3ms/step - loss: 1.2990 - accuracy: 0.5178 - val_loss: 1.1458 - val_accuracy: 0.5173

### baseline is 51%

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?